*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 6fr;
}

.sidebar_container {
  grid-row: 1 / 3;

  display: grid;
  align-items: center;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr 3fr;

  background-color: #4b5563;
  color: #f3f4f6
}

.logo {
  border-radius: 100px;
}

.logo, 
.profile_placeholder,
.sidebar_icon {
  filter: invert(98%) sepia(18%) saturate(248%) hue-rotate(177deg) brightness(99%) contrast(94%);
}

.sidebar_regular_links {
  grid-column: 1 / 3;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, 60px);

  margin-top: -50px;
}

.sidebar_important_links {
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 60px);

  margin-top: -300px;
}

.icon_small {
  width: 30px;
  height: 30px;

  justify-self: right;
  margin-right: 5px;
}

.sidebar_link {
  font-size: 22px;
  font-weight: bold;
}

.sidebar_link:hover {
  background-color: #374151;
}

.sidebar_link:active {
  background-color: #1f2937;
}

header {
  z-index: 9;
  display:grid;
  grid-template: 1fr 1fr / 1fr 1fr;

  box-shadow: 0px 3px 5px #52525b

}

.search_container {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 0.2fr 7fr 0.2fr 0.5fr 1fr;
  align-items: center;

  padding-left: 1vw;
}

#searchbar {
  height: 27px;
  width: 35vw;
  background-color: #d1d5db;
  border: none;
  border-radius: 10px;
} 

.profile_placeholder {
  width: 50px;
  height: 50px;
  background-color: #f97316;

  border: none;
  border-radius: 30px;
  justify-self: center;
}

.post_options_container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.greeting_container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  padding-left: 1vw;
  padding-bottom: 2vh;
}

.greeting_container > .profile_placeholder {
  width: 65px;
  height: 65px;
  grid-row: 1 / 3;
  justify-self: left;
}

.greeting_message {
  align-items: center;
}

.greeting_message p {
  font-size: 18px;
}
.post_button_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 2vw;
  padding-left: 7vw;
}

.post_button {
  justify-self: center;
  width: 5vw;
  height: 3.5vh;
  border-radius: 15px;
  border: none;

  background-color: #f97316;
  color: #f3f4f6;
  font-size: 22px;
  font-weight: bold;
}

.post_button:hover {
  background-color: #b45309;
}

.post_button:active {
  background-color: #92400e;
}

.main_container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: #d1d5db;
}

.projects_container {
  display: grid;
  grid-template: 1fr 4fr 4fr 4fr / 1fr 1fr
}

.projects_container > .subtitle {
  grid-column: 1 / 3;
}

.news_container {
  display: grid;
  grid-template-rows: 1fr 2r 2fr;
}
