*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 6fr;
}

.sidebar_container {
  grid-row: 1 / 3;

  display: grid;
  align-items: center;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr 3fr;

  background-color: #4b5563;
  color: #f3f4f6
}

.logo, 
.profile_placeholder,
.sidebar_icon {
  filter: invert(98%) sepia(18%) saturate(248%) hue-rotate(177deg) brightness(99%) contrast(94%);
}

.sidebar_regular_links {
  grid-column: 1 / 3;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, 60px);

  margin-top: -50px;
}

.sidebar_important_links {
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 60px);

  margin-top: -300px;
}

.icon_small {
  width: 30px;
  height: 30px;

  justify-self: right;
  margin-right: 5px;
}

.sidebar_link {
  font-size: 20px;
  font-weight: bold;
}

.sidebar_link:hover {
  background-color: #374151;
}

.sidebar_link:active {
  background-color: #1f2937;
  background-size: 700px;
}

header {
  z-index: 9;
  display:grid;
  grid-template: 1fr 1fr / 1fr 1fr;

  background-color: #f9fafb;
  box-shadow: 0px 3px 5px #52525b
}

.search_container {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 0.2fr 7fr 0.2fr 0.5fr 1fr;
  align-items: center;

  padding-left: 1vw;
}

#searchbar {
  height: 27px;
  width: 35vw;
  background-color: #d1d5db;
  border: none;
  border-radius: 10px;
} 

.profile_placeholder {
  width: 50px;
  height: 50px;
  background-color: #f97316;

  border-radius: 30px;
  justify-self: center;
}

.post_options_container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.greeting_container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  padding-left: 1vw;
  padding-bottom: 2vh;
}

.greeting_container > .profile_placeholder {
  width: 65px;
  height: 65px;
  grid-row: 1 / 3;
}

.greeting_message p {
  font-size: 18px;
  font-weight: bold;
}

.post_button_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 2vw;
  padding-left: 7vw;
}

.post_button {
  justify-self: center;
  width: 5vw;
  height: 3.5vh;
  border-radius: 15px;
  border: none;

  background-color: #f97316;
  color: #f3f4f6;
  font-size: 20px;
  font-weight: bold;
}

.post_button:hover {
  background-color: #b45309;
}

.post_button:active {
  background-color: #92400e;
}

.main_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding-right: 1.5vw;

  background-color: #d1d5db;
}

.projects_container {
  display: grid;
  grid-template: 50px 200px 200px 200px / 1fr 1fr;
  align-items: center;
  gap: 15px;
  margin-left: 1vw;
}

.projects_container .subtitle,
.announcement_subtitle,
.trendind_subtitle {
  font-size: 22px;
  padding-top: 2vh;
}

.project_card {
  height: 100%;
  padding: 0 1vw 1.5vh 1.5vw;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  border-left: 7px solid #f97316;
}

.project_card,
.announcement_container,
.trending_container {
  background-color: #f9fafb;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #52525b
}

.card_icon_container {
  display: flex;
  justify-content: right;
}

.search_container .icon_small:hover,
.card_icon_container .icon_small:hover,
.trending_profile:hover,
.announcement:hover{
  background-color: #d1d5db;
  border-radius: 15px;
}

.search_container .icon_small:active,
.card_icon_container .icon_small:active,
.trending_profile:active,
.announcement:active{
  background-color: #9ca3af;
  border-radius: 15px;
}

.projects_container > .subtitle {
  grid-column: 1 / 3;
}

.news_container {
  display: grid;
  grid-template-rows: 50px 320px 25px 245px;
  gap: 2vh;
}

.announcement_container {
  display: grid;
  padding: 10px;
  gap: 10px;
}

.announcement {
  padding: 10px;
  font-size: 14px;
}

.middle_announcement {
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
}

.trending_container {
  padding: 15px;
}

.trending_profile {
  display: grid;
  grid-template: 1fr 1fr / 1fr 5fr;
  padding: 7px;
  font-size: 14px;
}

.trending_profile .profile_placeholder {
  width: 40px;
  height: 40px;
  grid-row: 1 / 3;
}

.user_tag {
  font-weight: bold;
}
